node_modules
.env
lib
.next
next-env.d.ts

pnpm-lock.yaml

drizzle
.turbo
.storybook
build
dist
types
apps/dashboard/dist
apps/adherent/dist


apps/api/logs/errors.log
apps/api/logs/incomings.log
apps/api/logs/requests.log
storybook-static
