@font-face {
  font-family: "Switzer";
  src: url("./assets/fonts/switzer/Switzer-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: auto;
}

@font-face {
  font-family: "Switzer";
  src: url("./assets/fonts/switzer/Switzer-Bold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: auto;
}